@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Montserrat&display=swap');

body {
  background: rgba(45, 52, 54, 1.0);
  color: rgba(45, 52, 54, 1.0);
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

main {
  min-height: calc(100vh - 200px);
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

main > div {
  width: 280px;
  min-height: 350px;
}
