header {
  text-align: center;
  height: 150px;
  width: 100%;
  min-width: 640px;
}

header h1 {
  padding-top: 10px;
}

main > div {
  float: left;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

footer {
  clear: both;
  text-align: center;
  height: 50px;
  width: 100%;
  min-width: 640px;
}
