header {
  font-family: 'Luckiest Guy', cursive;
  font-size: 60px;
  background: #00b894;
  color: #2d3436;
}

header select {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

main > div {
  background: rgba(255, 234, 167, 0.938);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

main > div h2,
.modal-content > h2 {
  font-size: 22px;
  font-weight: 600;
  height: 44px;
}

main > div img {
  max-width : 220px;
  max-height: 220px;
  margin: 10px;
  border-radius: 5px;
}

main > div p, 
.modal-content p {
  font-size: 19px;
  margin-bottom: 5px;
}

footer {
  font-size: 20px;
  line-height: 50px;
  background: #00b894;
  color: #2d3436;
}

/* MODAL START */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  text-align: center;
  user-select: none;
}

.modal-content > img {
  min-height: 50vh;
  max-height: 70vh;
  max-width: 80vh;
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}
/* MODAL END */